In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import random
import time

def setup_and_ingest_realtime_sales():
    # Watsonx.data, COS, and Db2 credentials
    UsernameCPD = "ibmlhapikey"
    PasswordCPD = "****"
    
    LH_S3_ACCESS_KEY = "****"
    LH_S3_SECRET_KEY = "****"

    # Initialize Spark session
    spark = SparkSession.builder.appName('sparky').getOrCreate()
    sc = spark.sparkContext
    sc.setLogLevel("ERROR")
    conf = sc.getConf()

    # Set configurations
    conf.set("spark.hive.metastore.uris", f"thrift://<YOUR WXD ENDPOINT>")
    conf.set("spark.hive.metastore.use.SSL", "true")
    conf.set("spark.hive.metastore.truststore.type", "JKS")
    conf.set("spark.hive.metastore.truststore.path", "file:///opt/ibm/jdk/lib/security/cacerts")
    conf.set("spark.hive.metastore.truststore.password", "changeit")

    conf.set("spark.hive.metastore.client.auth.mode", "PLAIN")
    conf.set("spark.hive.metastore.client.plain.username", UsernameCPD)
    conf.set("spark.hive.metastore.client.plain.password", PasswordCPD)

    conf.set("fs.s3a.access.key", LH_S3_ACCESS_KEY)
    conf.set("fs.s3a.secret.key", LH_S3_SECRET_KEY)
    conf.set("fs.s3a.endpoint", f"http://s3.us-south.cloud-object-storage.appdomain.cloud")

    conf.set("fs.s3a.connection.ssl.enabled",  "true")
    conf.set("fs.s3a.path.style.access",       "true")
    conf.set("fs.s3a.impl",                    "org.apache.hadoop.fs.s3a.S3AFileSystem")

    conf.set("spark.jars.packages", "io.delta:delta-core_2.12:2.2.0")
    conf.set("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    conf.set("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
    sc.stop()

    spark = (SparkSession.builder.config(conf=conf).enableHiveSupport().getOrCreate())

    # Function to create the Delta Lake table
    def create_realtime_sales_table(spark):
        delta_table_path = "s3a://spark-dl/bronze_ec/realtime_sales_new/"
        try:
            spark.sql(f"""
                CREATE TABLE IF NOT EXISTS spark_catalog.bronze_ec.realtime_sales_new
                (sales_id BIGINT, product_id BIGINT, accessory_id BIGINT, customer_id BIGINT, sale_date TIMESTAMP, quantity BIGINT, total_amount DOUBLE)
                USING delta
                LOCATION '{delta_table_path}'
            """)
            print("Table realtime_sales_new created in bronze_ec database.")
        except Exception as e:
            print(f"Error creating table realtime_sales_new: {e}")

    # Function to generate synthetic sales data
    def generate_sales_data(existing_ids):
        products = [201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229]
        accessories = list(range(1, 51))
        customers = [301, 302, 303, 304, 305, 306, 307, 308, 309, 310]
        sales_data = []
        for _ in range(10):
            sale_id = random.randint(1, 1000)
            while sale_id in existing_ids:
                sale_id = random.randint(1, 1000)
            product_id = random.choice(products)
            accessory_id = random.choice(accessories)
            customer_id = random.choice(customers)
            quantity = random.randint(1, 5)
            total_amount = round(quantity * random.uniform(50, 500), 2)
            sales_data.append((sale_id, product_id, accessory_id, customer_id, quantity, total_amount))
            existing_ids.add(sale_id)
        return sales_data

    # Real-time ingestion function
    def real_time_ingestion(spark):
        delta_table_path = "s3a://spark-dl/bronze_ec/realtime_sales_new/"
        existing_ids = set()
        for _ in range(5):  # Ingest only 5 times
            sales_data = generate_sales_data(existing_ids)
            df = spark.createDataFrame(sales_data, ["sales_id", "product_id", "accessory_id", "customer_id", "quantity", "total_amount"])
            df = df.withColumn("sale_date", F.current_timestamp())
            try:
                df.write.format("delta").mode("append").save(delta_table_path)
                print(f"Ingested {len(sales_data)} records into realtime_sales_new table.")
                df.show(truncate=False)
            except Exception as e:
                print(f"Error writing to Delta table: {e}")
            time.sleep(5)
        
        print("Finished ingesting sales data.")

    # Execution flow
    create_realtime_sales_table(spark)
    real_time_ingestion(spark)

# Main entry point
if __name__ == "__main__":
    setup_and_ingest_realtime_sales()

Error creating table realtime_sales_new: org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient
Ingested 10 records into realtime_sales_new table.
+--------+----------+------------+-----------+--------+------------+--------------------------+
|sales_id|product_id|accessory_id|customer_id|quantity|total_amount|sale_date                 |
+--------+----------+------------+-----------+--------+------------+--------------------------+
|502     |207       |15          |307        |5       |1845.38     |2024-12-02 13:00:46.201909|
|972     |213       |26          |308        |3       |418.21      |2024-12-02 13:00:46.201909|
|748     |219       |36          |309        |3       |952.71      |2024-12-02 13:00:46.201909|
|83      |219       |12          |303        |5       |1796.94     |2024-12-02 13:00:46.201909|
|249     |211       |39          |304        |4       |1321.76     |2024-12-02 13:00:46.201909|
|522     |227       |49          |310        |4       |1686.1      |2024-12-02 13:00:46.201909|
|880     |209       |44          |303        |4       |958.72      |2024-12-02 13:00:46.201909|
|124     |216       |12          |301        |3       |726.37      |2024-12-02 13:00:46.201909|
|279     |228       |45          |307        |2       |104.89      |2024-12-02 13:00:46.201909|
|501     |202       |32          |302        |4       |1423.61     |2024-12-02 13:00:46.201909|
+--------+----------+------------+-----------+--------+------------+--------------------------+

Ingested 10 records into realtime_sales_new table.
+--------+----------+------------+-----------+--------+------------+--------------------------+
|sales_id|product_id|accessory_id|customer_id|quantity|total_amount|sale_date                 |
+--------+----------+------------+-----------+--------+------------+--------------------------+
|295     |216       |29          |309        |4       |1007.39     |2024-12-02 13:01:12.527758|
|933     |225       |33          |306        |4       |1709.28     |2024-12-02 13:01:12.527758|
|466     |221       |2           |302        |5       |1369.36     |2024-12-02 13:01:12.527758|
|251     |222       |19          |302        |2       |410.13      |2024-12-02 13:01:12.527758|
|618     |222       |25          |303        |2       |318.33      |2024-12-02 13:01:12.527758|
|811     |206       |34          |307        |4       |559.05      |2024-12-02 13:01:12.527758|
|410     |225       |29          |302        |5       |625.94      |2024-12-02 13:01:12.527758|
|310     |218       |24          |307        |2       |562.88      |2024-12-02 13:01:12.527758|
|837     |201       |34          |304        |2       |631.09      |2024-12-02 13:01:12.527758|
|371     |229       |40          |309        |1       |371.27      |2024-12-02 13:01:12.527758|
+--------+----------+------------+-----------+--------+------------+--------------------------+

Ingested 10 records into realtime_sales_new table.
+--------+----------+------------+-----------+--------+------------+--------------------------+
|sales_id|product_id|accessory_id|customer_id|quantity|total_amount|sale_date                 |
+--------+----------+------------+-----------+--------+------------+--------------------------+
|365     |202       |29          |306        |2       |389.63      |2024-12-02 13:01:55.356998|
|184     |218       |3           |303        |4       |267.02      |2024-12-02 13:01:55.356998|
|920     |220       |40          |306        |1       |383.83      |2024-12-02 13:01:55.356998|
|239     |225       |29          |301        |1       |422.11      |2024-12-02 13:01:55.356998|
|543     |204       |7           |310        |2       |439.86      |2024-12-02 13:01:55.356998|
|777     |213       |12          |310        |2       |853.18      |2024-12-02 13:01:55.356998|
|241     |225       |46          |305        |4       |878.54      |2024-12-02 13:01:55.356998|
|831     |229       |40          |310        |4       |727.49      |2024-12-02 13:01:55.356998|
|814     |219       |20          |307        |3       |1437.04     |2024-12-02 13:01:55.356998|
|222     |227       |19          |306        |4       |586.81      |2024-12-02 13:01:55.356998|
+--------+----------+------------+-----------+--------+------------+--------------------------+

Ingested 10 records into realtime_sales_new table.
+--------+----------+------------+-----------+--------+------------+-------------------------+
|sales_id|product_id|accessory_id|customer_id|quantity|total_amount|sale_date                |
+--------+----------+------------+-----------+--------+------------+-------------------------+
|622     |222       |32          |309        |3       |513.85      |2024-12-02 13:02:19.45308|
|795     |202       |39          |301        |4       |1087.32     |2024-12-02 13:02:19.45308|
|133     |204       |27          |305        |2       |882.87      |2024-12-02 13:02:19.45308|
|723     |207       |21          |302        |3       |1348.7      |2024-12-02 13:02:19.45308|
|6       |219       |42          |303        |1       |124.9       |2024-12-02 13:02:19.45308|
|360     |228       |43          |307        |2       |722.27      |2024-12-02 13:02:19.45308|
|755     |203       |48          |304        |4       |280.23      |2024-12-02 13:02:19.45308|
|99      |225       |24          |308        |5       |2361.92     |2024-12-02 13:02:19.45308|
|797     |225       |37          |302        |2       |802.92      |2024-12-02 13:02:19.45308|
|579     |212       |30          |302        |5       |2346.21     |2024-12-02 13:02:19.45308|
+--------+----------+------------+-----------+--------+------------+-------------------------+

Ingested 10 records into realtime_sales_new table.
+--------+----------+------------+-----------+--------+------------+--------------------------+
|sales_id|product_id|accessory_id|customer_id|quantity|total_amount|sale_date                 |
+--------+----------+------------+-----------+--------+------------+--------------------------+
|658     |218       |30          |301        |3       |1461.44     |2024-12-02 13:02:39.775123|
|520     |222       |48          |308        |3       |1228.4      |2024-12-02 13:02:39.775123|
|702     |210       |14          |308        |4       |1957.69     |2024-12-02 13:02:39.775123|
|885     |226       |5           |308        |5       |2284.79     |2024-12-02 13:02:39.775123|
|337     |202       |41          |303        |3       |1305.98     |2024-12-02 13:02:39.775123|
|146     |220       |19          |309        |1       |293.93      |2024-12-02 13:02:39.775123|
|112     |226       |34          |307        |4       |917.79      |2024-12-02 13:02:39.775123|
|258     |212       |30          |306        |4       |254.8       |2024-12-02 13:02:39.775123|
|212     |204       |5           |304        |1       |146.55      |2024-12-02 13:02:39.775123|
|140     |205       |35          |301        |3       |1126.81     |2024-12-02 13:02:39.775123|
+--------+----------+------------+-----------+--------+------------+--------------------------+

Finished ingesting sales data.

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import random
import time

def setup_and_ingest_realtime_sales():
    # Watsonx.data, COS, and Db2 credentials
    UsernameCPD = "ibmlhapikey"
    PasswordCPD = "39zsNQt5sf6VhjfGoK6U_Ken-tfxQDetavPL3Nb9nzTK"
    
    LH_S3_ACCESS_KEY = "8ed2f00977a24cc79d7e110dfbf3a3ed"
    LH_S3_SECRET_KEY = "77710fe015f0aa883a8da76f7e2a91ec693e133b7093db8d"

    # Initialize Spark session
    spark = SparkSession.builder.appName('sparky').getOrCreate()
    sc = spark.sparkContext
    sc.setLogLevel("ERROR")
    conf = sc.getConf()

    # Set configurations
    conf.set("spark.hive.metastore.uris", f"thrift://139f6d9a-165f-4bee-a5f7-d3810bdad5fa.cise77rd04nf1e5p5s20.lakehouse.appdomain.cloud:31774")
    conf.set("spark.hive.metastore.use.SSL", "true")
    conf.set("spark.hive.metastore.truststore.type", "JKS")
    conf.set("spark.hive.metastore.truststore.path", "file:///opt/ibm/jdk/lib/security/cacerts")
    conf.set("spark.hive.metastore.truststore.password", "changeit")

    conf.set("spark.hive.metastore.client.auth.mode", "PLAIN")
    conf.set("spark.hive.metastore.client.plain.username", UsernameCPD)
    conf.set("spark.hive.metastore.client.plain.password", PasswordCPD)

    conf.set("fs.s3a.access.key", LH_S3_ACCESS_KEY)
    conf.set("fs.s3a.secret.key", LH_S3_SECRET_KEY)
    conf.set("fs.s3a.endpoint", f"http://s3.us-south.cloud-object-storage.appdomain.cloud")

    conf.set("fs.s3a.connection.ssl.enabled",  "true")
    conf.set("fs.s3a.path.style.access",       "true")
    conf.set("fs.s3a.impl",                    "org.apache.hadoop.fs.s3a.S3AFileSystem")

    conf.set("spark.jars.packages", "io.delta:delta-core_2.12:2.2.0")
    conf.set("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    conf.set("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
    sc.stop()

    spark = (SparkSession.builder.config(conf=conf).enableHiveSupport().getOrCreate())

    # Function to create the Delta Lake table
    def create_realtime_sales_table(spark):
        delta_table_path = "s3a://spark-dl/bronze_ec/realtime_sales_new/"
        try:
            spark.sql(f"""
                CREATE TABLE IF NOT EXISTS spark_catalog.bronze_ec.realtime_sales_new
                (sales_id BIGINT, product_id BIGINT, accessory_id BIGINT, customer_id BIGINT, sale_date TIMESTAMP, quantity BIGINT, total_amount DOUBLE)
                USING delta
                LOCATION '{delta_table_path}'
            """)
            print("Table realtime_sales_new created in bronze_ec database.")
        except Exception as e:
            print(f"Error creating table realtime_sales_new: {e}")

    # Function to generate synthetic sales data
    def generate_sales_data(existing_ids, count=30):  # Generate 30 records at a time
        products = [201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230]
        accessories = list(range(1, 51))
        customers = [301, 302, 303, 304, 305, 306, 307, 308, 309, 310]
        sales_data = []
        while len(sales_data) < count:
            sale_id = random.randint(1, 1000)
            while sale_id in existing_ids:
                sale_id = random.randint(1, 1000)
            product_id = random.choice(products)
            accessory_id = random.choice(accessories)
            customer_id = random.choice(customers)
            quantity = random.randint(1, 5)
            total_amount = round(quantity * random.uniform(50, 500), 2)
            sales_data.append((sale_id, product_id, accessory_id, customer_id, quantity, total_amount))
            existing_ids.add(sale_id)
        return sales_data

    # Real-time ingestion function
    def real_time_ingestion(spark):
        delta_table_path = "s3a://spark-dl/bronze_ec/realtime_sales_new/"
        existing_ids = set()
        
        for iteration in range(5):  # Loop to ingest records multiple times
            sales_data = generate_sales_data(existing_ids, count=30)
            df = spark.createDataFrame(sales_data, ["sales_id", "product_id", "accessory_id", "customer_id", "quantity", "total_amount"])
            df = df.withColumn("sale_date", F.current_timestamp())
            try:
                df.write.format("delta").mode("append").save(delta_table_path)
                print(f"Ingested {len(sales_data)} records into realtime_sales_new table on iteration {iteration + 1}.")
                df.show(truncate=False)
            except Exception as e:
                print(f"Error writing to Delta table: {e}")
            
            time.sleep(5)  # Sleep for 5 seconds before next iteration
        
        print("Finished ingesting sales data.")

    # Execution flow
    create_realtime_sales_table(spark)
    real_time_ingestion(spark)

# Main entry point
if __name__ == "__main__":
    setup_and_ingest_realtime_sales()

Error creating table realtime_sales_new: org.apache.hadoop.hive.ql.metadata.HiveException: java.lang.RuntimeException: Unable to instantiate org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient
Ingested 30 records into realtime_sales_new table on iteration 1.
+--------+----------+------------+-----------+--------+------------+--------------------------+
|sales_id|product_id|accessory_id|customer_id|quantity|total_amount|sale_date                 |
+--------+----------+------------+-----------+--------+------------+--------------------------+
|967     |212       |41          |309        |2       |559.76      |2024-12-02 13:04:10.392403|
|950     |218       |18          |309        |1       |348.04      |2024-12-02 13:04:10.392403|
|338     |210       |40          |307        |3       |1165.2      |2024-12-02 13:04:10.392403|
|470     |203       |43          |303        |3       |674.76      |2024-12-02 13:04:10.392403|
|225     |230       |29          |307        |3       |288.87      |2024-12-02 13:04:10.392403|
|639     |203       |41          |309        |1       |385.58      |2024-12-02 13:04:10.392403|
|585     |208       |6           |307        |5       |1738.19     |2024-12-02 13:04:10.392403|
|687     |222       |24          |304        |1       |311.92      |2024-12-02 13:04:10.392403|
|608     |224       |38          |303        |2       |374.62      |2024-12-02 13:04:10.392403|
|695     |212       |37          |307        |1       |310.22      |2024-12-02 13:04:10.392403|
|974     |213       |31          |310        |2       |445.01      |2024-12-02 13:04:10.392403|
|419     |208       |47          |303        |5       |1760.3      |2024-12-02 13:04:10.392403|
|159     |205       |10          |310        |3       |634.16      |2024-12-02 13:04:10.392403|
|77      |202       |11          |306        |2       |405.74      |2024-12-02 13:04:10.392403|
|794     |213       |17          |304        |1       |463.91      |2024-12-02 13:04:10.392403|
|777     |213       |21          |303        |2       |883.39      |2024-12-02 13:04:10.392403|
|896     |215       |31          |310        |5       |2003.22     |2024-12-02 13:04:10.392403|
|246     |206       |16          |305        |5       |614.25      |2024-12-02 13:04:10.392403|
|972     |223       |43          |305        |1       |371.65      |2024-12-02 13:04:10.392403|
|26      |225       |48          |301        |1       |102.04      |2024-12-02 13:04:10.392403|
+--------+----------+------------+-----------+--------+------------+--------------------------+
only showing top 20 rows

Ingested 30 records into realtime_sales_new table on iteration 2.
+--------+----------+------------+-----------+--------+------------+--------------------------+
|sales_id|product_id|accessory_id|customer_id|quantity|total_amount|sale_date                 |
+--------+----------+------------+-----------+--------+------------+--------------------------+
|702     |218       |6           |301        |1       |111.6       |2024-12-02 13:04:35.289567|
|961     |225       |15          |303        |2       |920.88      |2024-12-02 13:04:35.289567|
|203     |212       |20          |307        |5       |1515.18     |2024-12-02 13:04:35.289567|
|266     |221       |16          |306        |1       |180.45      |2024-12-02 13:04:35.289567|
|440     |204       |9           |304        |3       |1287.83     |2024-12-02 13:04:35.289567|
|769     |220       |38          |301        |4       |1462.21     |2024-12-02 13:04:35.289567|
|211     |229       |7           |310        |2       |966.85      |2024-12-02 13:04:35.289567|
|385     |211       |8           |305        |1       |170.49      |2024-12-02 13:04:35.289567|
|919     |219       |16          |308        |1       |59.81       |2024-12-02 13:04:35.289567|
|954     |207       |29          |310        |3       |1447.23     |2024-12-02 13:04:35.289567|
|441     |215       |9           |306        |1       |356.5       |2024-12-02 13:04:35.289567|
|237     |214       |42          |302        |1       |223.11      |2024-12-02 13:04:35.289567|
|256     |213       |5           |310        |5       |806.51      |2024-12-02 13:04:35.289567|
|67      |209       |25          |306        |2       |928.67      |2024-12-02 13:04:35.289567|
|797     |210       |11          |305        |1       |154.01      |2024-12-02 13:04:35.289567|
|92      |203       |32          |309        |3       |326.36      |2024-12-02 13:04:35.289567|
|549     |217       |3           |303        |1       |323.0       |2024-12-02 13:04:35.289567|
|285     |229       |1           |302        |5       |462.16      |2024-12-02 13:04:35.289567|
|63      |210       |44          |308        |3       |786.42      |2024-12-02 13:04:35.289567|
|590     |212       |43          |307        |4       |1409.66     |2024-12-02 13:04:35.289567|
+--------+----------+------------+-----------+--------+------------+--------------------------+
only showing top 20 rows

Ingested 30 records into realtime_sales_new table on iteration 3.
+--------+----------+------------+-----------+--------+------------+--------------------------+
|sales_id|product_id|accessory_id|customer_id|quantity|total_amount|sale_date                 |
+--------+----------+------------+-----------+--------+------------+--------------------------+
|22      |208       |33          |309        |2       |766.1       |2024-12-02 13:04:58.633393|
|262     |210       |5           |307        |2       |360.07      |2024-12-02 13:04:58.633393|
|720     |208       |7           |304        |5       |2015.47     |2024-12-02 13:04:58.633393|
|411     |225       |11          |302        |1       |399.38      |2024-12-02 13:04:58.633393|
|810     |205       |44          |309        |1       |324.4       |2024-12-02 13:04:58.633393|
|772     |222       |4           |307        |2       |995.37      |2024-12-02 13:04:58.633393|
|429     |226       |20          |309        |4       |428.59      |2024-12-02 13:04:58.633393|
|860     |216       |33          |305        |4       |955.93      |2024-12-02 13:04:58.633393|
|351     |211       |20          |302        |4       |411.01      |2024-12-02 13:04:58.633393|
|365     |207       |47          |306        |1       |354.95      |2024-12-02 13:04:58.633393|
|760     |226       |9           |301        |5       |1591.74     |2024-12-02 13:04:58.633393|
|71      |207       |8           |304        |1       |256.51      |2024-12-02 13:04:58.633393|
|966     |220       |41          |306        |2       |193.14      |2024-12-02 13:04:58.633393|
|391     |230       |21          |306        |4       |753.62      |2024-12-02 13:04:58.633393|
|578     |207       |50          |301        |5       |2125.8      |2024-12-02 13:04:58.633393|
|53      |213       |14          |309        |4       |1933.86     |2024-12-02 13:04:58.633393|
|85      |221       |14          |308        |2       |604.11      |2024-12-02 13:04:58.633393|
|318     |216       |26          |309        |2       |409.15      |2024-12-02 13:04:58.633393|
|574     |206       |21          |302        |3       |1340.16     |2024-12-02 13:04:58.633393|
|527     |222       |45          |305        |2       |952.5       |2024-12-02 13:04:58.633393|
+--------+----------+------------+-----------+--------+------------+--------------------------+
only showing top 20 rows

Ingested 30 records into realtime_sales_new table on iteration 4.
+--------+----------+------------+-----------+--------+------------+--------------------------+
|sales_id|product_id|accessory_id|customer_id|quantity|total_amount|sale_date                 |
+--------+----------+------------+-----------+--------+------------+--------------------------+
|547     |211       |19          |308        |3       |868.95      |2024-12-02 13:05:19.298652|
|809     |220       |44          |308        |1       |322.19      |2024-12-02 13:05:19.298652|
|795     |210       |2           |302        |4       |1824.25     |2024-12-02 13:05:19.298652|
|666     |216       |7           |302        |1       |229.03      |2024-12-02 13:05:19.298652|
|342     |213       |36          |307        |3       |497.95      |2024-12-02 13:05:19.298652|
|275     |225       |2           |306        |2       |144.27      |2024-12-02 13:05:19.298652|
|61      |226       |49          |308        |1       |94.18       |2024-12-02 13:05:19.298652|
|958     |214       |41          |308        |5       |581.57      |2024-12-02 13:05:19.298652|
|942     |219       |27          |307        |1       |363.01      |2024-12-02 13:05:19.298652|
|540     |230       |3           |307        |3       |245.39      |2024-12-02 13:05:19.298652|
|899     |202       |27          |307        |1       |255.51      |2024-12-02 13:05:19.298652|
|712     |204       |34          |310        |4       |1219.42     |2024-12-02 13:05:19.298652|
|216     |202       |50          |308        |2       |398.84      |2024-12-02 13:05:19.298652|
|596     |226       |6           |304        |1       |189.84      |2024-12-02 13:05:19.298652|
|131     |224       |32          |302        |5       |2397.5      |2024-12-02 13:05:19.298652|
|359     |219       |14          |310        |4       |1054.76     |2024-12-02 13:05:19.298652|
|853     |220       |31          |303        |4       |448.12      |2024-12-02 13:05:19.298652|
|280     |215       |35          |302        |4       |725.67      |2024-12-02 13:05:19.298652|
|962     |227       |41          |308        |3       |1409.65     |2024-12-02 13:05:19.298652|
|6       |208       |4           |301        |2       |821.65      |2024-12-02 13:05:19.298652|
+--------+----------+------------+-----------+--------+------------+--------------------------+
only showing top 20 rows

Ingested 30 records into realtime_sales_new table on iteration 5.
+--------+----------+------------+-----------+--------+------------+--------------------------+
|sales_id|product_id|accessory_id|customer_id|quantity|total_amount|sale_date                 |
+--------+----------+------------+-----------+--------+------------+--------------------------+
|208     |226       |8           |309        |5       |2406.58     |2024-12-02 13:05:41.896222|
|408     |226       |38          |310        |5       |856.43      |2024-12-02 13:05:41.896222|
|276     |224       |29          |305        |1       |379.55      |2024-12-02 13:05:41.896222|
|629     |203       |5           |310        |1       |307.41      |2024-12-02 13:05:41.896222|
|945     |230       |5           |303        |2       |476.23      |2024-12-02 13:05:41.896222|
|908     |204       |13          |308        |5       |1368.25     |2024-12-02 13:05:41.896222|
|914     |218       |49          |304        |4       |1889.11     |2024-12-02 13:05:41.896222|
|628     |213       |7           |308        |2       |144.02      |2024-12-02 13:05:41.896222|
|173     |210       |43          |304        |4       |719.31      |2024-12-02 13:05:41.896222|
|289     |227       |39          |309        |2       |943.79      |2024-12-02 13:05:41.896222|
|757     |209       |24          |309        |1       |219.65      |2024-12-02 13:05:41.896222|
|683     |222       |20          |305        |4       |858.13      |2024-12-02 13:05:41.896222|
|230     |206       |11          |306        |4       |1536.44     |2024-12-02 13:05:41.896222|
|567     |222       |22          |305        |3       |971.65      |2024-12-02 13:05:41.896222|
|339     |225       |45          |301        |2       |843.23      |2024-12-02 13:05:41.896222|
|368     |219       |3           |305        |3       |1284.51     |2024-12-02 13:05:41.896222|
|900     |222       |29          |309        |5       |699.43      |2024-12-02 13:05:41.896222|
|279     |225       |29          |309        |3       |442.82      |2024-12-02 13:05:41.896222|
|965     |229       |32          |306        |3       |973.03      |2024-12-02 13:05:41.896222|
|591     |201       |47          |307        |3       |873.1       |2024-12-02 13:05:41.896222|
+--------+----------+------------+-----------+--------+------------+--------------------------+
only showing top 20 rows

Finished ingesting sales data.